*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-\[50\%\] {
  left: 50%;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-\[50\%\] {
  top: 50%;
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-24 {
  margin-left: 6rem;
}

.ml-\[4\.3rem\] {
  margin-left: 4.3rem;
}

.ml-\[4\.7rem\] {
  margin-left: 4.7rem;
}

.ml-\[4\.8rem\] {
  margin-left: 4.8rem;
}

.ml-\[5\.4rem\] {
  margin-left: 5.4rem;
}

.ml-\[5\.5rem\] {
  margin-left: 5.5rem;
}

.ml-\[5rem\] {
  margin-left: 5rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[18px\] {
  margin-top: 18px;
}

.mt-\[19px\] {
  margin-top: 19px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[35px\] {
  margin-top: 35px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[1\/1\] {
  aspect-ratio: 1/1;
}

.h-4 {
  height: 1rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[59px\] {
  height: 59px;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-24 {
  width: 6rem;
}

.w-4 {
  width: 1rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[28px\] {
  width: 28px;
}

.w-\[373px\] {
  width: 373px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[900px\] {
  width: 900px;
}

.w-full {
  width: 100%;
}

.max-w-\[50\%\] {
  max-width: 50%;
}

.flex-grow {
  flex-grow: 1;
}

.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-8 {
  grid-template-rows: repeat(8, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[66px\] {
  gap: 66px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-y-4 {
  row-gap: 1rem;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-custom11 {
  --tw-border-opacity: 1;
  border-color: rgb(246 88 103 / var(--tw-border-opacity, 1));
}

.border-custom2 {
  --tw-border-opacity: 1;
  border-color: rgb(6 72 110 / var(--tw-border-opacity, 1));
}

.border-custom3 {
  --tw-border-opacity: 1;
  border-color: rgb(34 34 34 / var(--tw-border-opacity, 1));
}

.bg-custom1 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
}

.bg-custom10 {
  --tw-bg-opacity: 1;
  background-color: rgb(80 236 91 / var(--tw-bg-opacity, 1));
}

.bg-custom11 {
  --tw-bg-opacity: 1;
  background-color: rgb(246 88 103 / var(--tw-bg-opacity, 1));
}

.bg-custom2 {
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
}

.bg-custom6 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-custom8 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 160 160 / var(--tw-bg-opacity, 1));
}

.bg-opacity-55 {
  --tw-bg-opacity: 0.55;
}

.bg-opacity-\[20\%\] {
  --tw-bg-opacity: 20%;
}

.fill-current {
  fill: currentColor;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.font-poppins {
  font-family: Poppins;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-custom1 {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
}

.text-custom2 {
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

.text-custom3 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-custom7 {
  --tw-text-opacity: 1;
  color: rgb(20 174 92 / var(--tw-text-opacity, 1));
}

.text-custom9 {
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity, 1));
}

.text-opacity-55 {
  --tw-text-opacity: 0.55;
}

.text-opacity-70 {
  --tw-text-opacity: 0.7;
}

.text-opacity-80 {
  --tw-text-opacity: 0.8;
}

/* padding untuk seluruh halaman website */

@media (min-width: 300px) {
  .padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .padding {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1280px) {
  .padding {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 1536px) {
  .padding {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (min-width: 1610px) {
  .padding {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (min-width: 2500px) {
  .padding {
    padding-left: 300px;
    padding-right: 300px;
  }
}

/* mt untuk section 2 dan seterusnya */

.margin-top {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .margin-top {
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .margin-top {
    margin-top: 100px;
  }
}

@media (min-width: 1280px) {
  .margin-top {
    margin-top: 110px;
  }
}

@media (min-width: 1536px) {
  .margin-top {
    margin-top: 120px;
  }
}

/* navbar */

.nav-all1 {
  font-size: 15px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 51%;
}

.nav-all1:hover {
  --tw-text-opacity: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.nav-all2 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 1;
}

.nav-all2:hover {
  --tw-text-opacity: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.button1-nav {
  border-radius: 5px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(6 72 110 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
}

.button1-nav:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .button1-nav {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .button1-nav {
    font-size: 15px;
  }
}

.button2-nav {
  border-radius: 5px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(6 72 110 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

.button2-nav:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .button2-nav {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .button2-nav {
    font-size: 15px;
  }
}

/* section 2 */

.div-card-section2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(6 72 110 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 0.35;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 768px) {
  .div-card-section2 {
    grid-column: span 4 / span 4;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .div-card-section2 {
    flex-direction: row;
    gap: 26px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.div-icon-section2 {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
}

.icon-section2 {
  font-size: 25px;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
}

.div-text-card-section2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.judul-card-section2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .judul-card-section2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.deskripsi-card-section2 {
  font-size: 13px;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.5;
}

@media (min-width: 1024px) {
  .deskripsi-card-section2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* judul dan nama section untuk semuanya */

.div-nama-section {
  display: flex;
  align-items: center;
  gap: 9px;
}

.span-garis-nama-section {
  width: 26px;
  border-width: 1px;
  border-color: rgb(34 34 34 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 0.5;
}

@media (min-width: 768px) {
  .span-garis-nama-section {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .span-garis-nama-section {
    width: 34px;
  }
}

.nama-section {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.5;
}

@media (min-width: 1024px) {
  .nama-section {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.judul-section {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 300px) {
  .judul-section {
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .judul-section {
    font-size: 28px;
  }
}

@media (min-width: 1280px) {
  .judul-section {
    font-size: 32px;
  }
}

@media (min-width: 1536px) {
  .judul-section {
    font-size: 36px;
  }
}

.deskripsi-section3-dan-seterusnya {
  margin-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.55;
}

@media (min-width: 768px) {
  .deskripsi-section3-dan-seterusnya {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 1024px) {
  .deskripsi-section3-dan-seterusnya {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* section 3 */

.div-service-section3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.div-icon-section3 {
  display: flex;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  padding: 0.25rem;
}

.icon-section3 {
  font-size: 30px;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
}

.div-text-service {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.angka-jumlah-service {
  font-family: Mada;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .angka-jumlah-service {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .angka-jumlah-service {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  .angka-jumlah-service {
    font-size: 26px;
  }
}

@media (min-width: 1536px) {
  .angka-jumlah-service {
    font-size: 28px;
  }
}

.text-service {
  font-family: Mada;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

/* section 4 */

.div-card-paket {
  position: relative;
  grid-column: span 1 / span 1;
  height: 280px;
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(205 205 205 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 0.3;
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
}

@media (min-width: 768px) {
  .div-card-paket {
    height: 305px;
  }
}

@media (min-width: 1024px) {
  .div-card-paket {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .div-card-paket {
    height: 310px;
  }
}

@media (min-width: 1536px) {
  .div-card-paket {
    height: 331px;
  }
}

.div-rounded-container {
  position: relative;
  height: 280px;
  width: 100%;
  border-top-right-radius: 65%;
  border-width: 1px;
  border-color: rgb(205 205 205 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 0.3;
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  --tw-bg-opacity: 6%;
}

@media (min-width: 768px) {
  .div-rounded-container {
    height: 305px;
  }
}

@media (min-width: 1024px) {
  .div-rounded-container {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .div-rounded-container {
    height: 310px;
  }
}

@media (min-width: 1536px) {
  .div-rounded-container {
    height: 331px;
  }
}

.div-text {
  position: absolute;
  top: 0px;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.div-nama-paket {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nama-paket {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .nama-paket {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .nama-paket {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.nomor-urut-paket {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fcfcfc;
  /* Membuat warna isi teks transparan */
  -webkit-text-stroke-width: 1.5px;
  /* Lebar garis tepi */
  -webkit-text-stroke-color: #06486E;
  /* Warna garis tepi (biru-800) */
}

@media (min-width: 768px) {
  .nomor-urut-paket {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .nomor-urut-paket {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  .nomor-urut-paket {
    font-size: 36px;
  }
}

.text-benefit-paket {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .text-benefit-paket {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.text-titik-point-paket {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.4;
}

@media (min-width: 768px) {
  .text-titik-point-paket {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .text-titik-point-paket {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .text-titik-point-paket {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1536px) {
  @media (min-width: 1024px) {
    .text-titik-point-paket {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

.text-point-paket {
  font-size: 13px;
  font-weight: 500;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.4;
}

@media (min-width: 1024px) {
  .text-point-paket {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.text-harga-paket {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .text-harga-paket {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .text-harga-paket {
    margin-top: 18px;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .text-harga-paket {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.button-booking-paket {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 4px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(6 72 110 / var(--tw-border-opacity, 1));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

.button-booking-paket:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .button-booking-paket {
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  .button-booking-paket {
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .button-booking-paket {
    margin-top: 35px;
  }
}

@media (min-width: 1536px) {
  .button-booking-paket {
    margin-top: 40px;
  }
}

/* section 6 mode xs dan seterusnya */

/* style untuk animasi faq */

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.question .ri-arrow-down-s-line{
  transition-duration: 500ms;
}

.answer.open {
  max-height: 300px;
}

.rotate-180{
  transform: rotate(180deg);
}

.div-faq {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 3px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(61 61 61 / var(--tw-border-opacity, 1));
  --tw-border-opacity: 12%;
  padding: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.div-question {
  position: relative;
  z-index: 0;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  gap: 2rem;
}

.teks-question {
  margin-right: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .teks-question {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .teks-question {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.icon-arrow {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.teks-answer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(61 61 61 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 52%;
}

@media (min-width: 300px) {
  .teks-answer {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .teks-answer {
    font-size: 15px;
  }
}

/* section 7 */

.div-customer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .div-customer {
    padding: 0px;
  }
}

.review-customer {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .review-customer {
    padding: 1rem;
  }
}

.img-customer {
  height: 3rem;
  width: 3rem;
}

.nama-customer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

.status-customer {
  font-size: 10px;
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

/* footer */

.div-navigation-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.judul-navigation {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .judul-navigation {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.text-navigation {
  font-size: 13px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-navigation:hover {
  --tw-text-opacity: 0.7;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 1024px) {
  .text-navigation {
    font-size: 15px;
  }
}

.icon-navigation {
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.group:hover .icon-navigation {
  --tw-text-opacity: 0.7;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.text-navigation-icon {
  font-size: 13px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.group:hover .text-navigation-icon {
  --tw-text-opacity: 0.7;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 1024px) {
  .text-navigation-icon {
    font-size: 15px;
  }
}

.icon-social-media {
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.icon-social-media:hover {
  --tw-text-opacity: 0.7;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media (min-width: 1024px) {
  .icon-social-media {
    font-size: 30px;
  }
}

.style-untuk-footer {
  bottom: 0px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

@media (min-width: 300px) {
  .style-untuk-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .style-untuk-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .style-untuk-footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1280px) {
  .style-untuk-footer {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 1536px) {
  .style-untuk-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (min-width: 1610px) {
  .style-untuk-footer {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (min-width: 2500px) {
  .style-untuk-footer {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.style-untuk-footer {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .style-untuk-footer {
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .style-untuk-footer {
    margin-top: 100px;
  }
}

@media (min-width: 1280px) {
  .style-untuk-footer {
    margin-top: 110px;
  }
}

@media (min-width: 1536px) {
  .style-untuk-footer {
    margin-top: 120px;
  }
}

.div-paling-luar-navigation-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 768px) {
  .div-paling-luar-navigation-footer {
    flex-direction: row;
    gap: 44px;
  }
}

@media (min-width: 1024px) {
  .div-paling-luar-navigation-footer {
    gap: 74px;
  }
}

@media (min-width: 1280px) {
  .div-paling-luar-navigation-footer {
    gap: 84px;
  }
}

@media (min-width: 1536px) {
  .div-paling-luar-navigation-footer {
    gap: 94px;
  }
}

/* styling untuk scrollbar */

.parent .swiper-scrollbar {
  max-width: 100%;
}

@media (min-width: 768px) {
  .parent .swiper-scrollbar {
    max-width: 50%;
  }
}

.parent .swiper-scrollbar-drag-custom {
  position: absolute;
  height: 0.25rem;
  cursor: grab;
  overflow: visible;
  --tw-bg-opacity: 1;
  background-color: rgb(6 72 110 / var(--tw-bg-opacity, 1));
}

/* css untuk outline text */

.text-outline {
  color: #fcfcfc;
  /* Membuat warna isi teks transparan */
  -webkit-text-stroke-width: 1.5px;
  /* Lebar garis tepi */
  -webkit-text-stroke-color: #06486E;
  /* Warna garis tepi (biru-800) */
}

/* halaman form */

/* pop up */

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .popup-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.text-label-form {
  font-size: 13px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .text-label-form {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.style-text-field-form {
  width: 100%;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 13px;
}

.style-text-field-form::-moz-placeholder {
  color: rgb(34 34 34 / var(--tw-placeholder-opacity, 1));
  --tw-placeholder-opacity: 0.5;
}

.style-text-field-form::placeholder {
  color: rgb(34 34 34 / var(--tw-placeholder-opacity, 1));
  --tw-placeholder-opacity: 0.5;
}

.style-text-field-form:focus {
  border-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 1024px) {
  .style-text-field-form {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.style-select-form {
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 13px;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.5;
}

.style-select-form:focus {
  border-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 1024px) {
  .style-select-form {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.icon-arrow-untuk-select {
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  --tw-text-opacity: 0.5;
}

.hover\:bg-custom1:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
}

.hover\:bg-custom6:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.hover\:text-custom11:hover {
  --tw-text-opacity: 1;
  color: rgb(246 88 103 / var(--tw-text-opacity, 1));
}

.hover\:text-custom2:hover {
  --tw-text-opacity: 1;
  color: rgb(6 72 110 / var(--tw-text-opacity, 1));
}

.hover\:transition-all:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:duration-500:hover {
  transition-duration: 500ms;
}

@media (min-width: 300px) {
  .xs\:justify-between {
    justify-content: space-between;
  }

  .xs\:pl-\[20px\] {
    padding-left: 20px;
  }

  .xs\:pr-\[20px\] {
    padding-right: 20px;
  }

  .xs\:leading-normal {
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:-mt-1 {
    margin-top: -0.25rem;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:mt-2 {
    margin-top: 0.5rem;
  }

  .md\:mt-28 {
    margin-top: 7rem;
  }

  .md\:mt-32 {
    margin-top: 8rem;
  }

  .md\:mt-4 {
    margin-top: 1rem;
  }

  .md\:mt-\[20px\] {
    margin-top: 20px;
  }

  .md\:mt-\[23px\] {
    margin-top: 23px;
  }

  .md\:mt-\[39px\] {
    margin-top: 39px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-\[44\%\] {
    width: 44%;
  }

  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-\[20px\] {
    gap: 20px;
  }

  .md\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:pl-\[30px\] {
    padding-left: 30px;
  }

  .md\:pr-\[30px\] {
    padding-right: 30px;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-\[28px\] {
    font-size: 28px;
  }

  .md\:text-\[32px\] {
    font-size: 32px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:-mt-1 {
    margin-top: -0.25rem;
  }

  .lg\:-mt-3 {
    margin-top: -0.75rem;
  }

  .lg\:mt-20 {
    margin-top: 5rem;
  }

  .lg\:mt-32 {
    margin-top: 8rem;
  }

  .lg\:mt-36 {
    margin-top: 9rem;
  }

  .lg\:mt-4 {
    margin-top: 1rem;
  }

  .lg\:mt-\[15px\] {
    margin-top: 15px;
  }

  .lg\:mt-\[20px\] {
    margin-top: 20px;
  }

  .lg\:mt-\[24px\] {
    margin-top: 24px;
  }

  .lg\:mt-\[25px\] {
    margin-top: 25px;
  }

  .lg\:mt-\[27px\] {
    margin-top: 27px;
  }

  .lg\:mt-\[43px\] {
    margin-top: 43px;
  }

  .lg\:w-28 {
    width: 7rem;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:max-w-\[40\%\] {
    max-width: 40%;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-\[15px\] {
    gap: 15px;
  }

  .lg\:gap-\[20px\] {
    gap: 20px;
  }

  .lg\:gap-\[24px\] {
    gap: 24px;
  }

  .lg\:gap-\[27px\] {
    gap: 27px;
  }

  .lg\:gap-\[34px\] {
    gap: 34px;
  }

  .lg\:gap-\[46px\] {
    gap: 46px;
  }

  .lg\:gap-\[48px\] {
    gap: 48px;
  }

  .lg\:gap-\[64px\] {
    gap: 64px;
  }

  .lg\:gap-x-\[43px\] {
    -moz-column-gap: 43px;
         column-gap: 43px;
  }

  .lg\:gap-y-\[20px\] {
    row-gap: 20px;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:pb-24 {
    padding-bottom: 6rem;
  }

  .lg\:pl-\[100px\] {
    padding-left: 100px;
  }

  .lg\:pr-\[100px\] {
    padding-right: 100px;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[36px\] {
    font-size: 36px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .xl\:-mt-2 {
    margin-top: -0.5rem;
  }

  .xl\:-mt-5 {
    margin-top: -1.25rem;
  }

  .xl\:mt-24 {
    margin-top: 6rem;
  }

  .xl\:mt-\[30px\] {
    margin-top: 30px;
  }

  .xl\:mt-\[31px\] {
    margin-top: 31px;
  }

  .xl\:mt-\[47px\] {
    margin-top: 47px;
  }

  .xl\:gap-\[24px\] {
    gap: 24px;
  }

  .xl\:gap-\[25px\] {
    gap: 25px;
  }

  .xl\:gap-\[29px\] {
    gap: 29px;
  }

  .xl\:gap-\[38px\] {
    gap: 38px;
  }

  .xl\:gap-\[50px\] {
    gap: 50px;
  }

  .xl\:gap-\[52px\] {
    gap: 52px;
  }

  .xl\:gap-\[68px\] {
    gap: 68px;
  }

  .xl\:gap-x-\[47px\] {
    -moz-column-gap: 47px;
         column-gap: 47px;
  }

  .xl\:px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .xl\:pb-28 {
    padding-bottom: 7rem;
  }

  .xl\:pl-\[110px\] {
    padding-left: 110px;
  }

  .xl\:pr-\[110px\] {
    padding-right: 110px;
  }

  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:text-\[32px\] {
    font-size: 32px;
  }

  .xl\:text-\[40px\] {
    font-size: 40px;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:-mt-4 {
    margin-top: -1rem;
  }

  .\32xl\:-mt-6 {
    margin-top: -1.5rem;
  }

  .\32xl\:mt-\[35px\] {
    margin-top: 35px;
  }

  .\32xl\:mt-\[51px\] {
    margin-top: 51px;
  }

  .\32xl\:w-32 {
    width: 8rem;
  }

  .\32xl\:gap-\[42px\] {
    gap: 42px;
  }

  .\32xl\:gap-\[54px\] {
    gap: 54px;
  }

  .\32xl\:gap-\[56px\] {
    gap: 56px;
  }

  .\32xl\:gap-\[72px\] {
    gap: 72px;
  }

  .\32xl\:gap-x-\[51px\] {
    -moz-column-gap: 51px;
         column-gap: 51px;
  }

  .\32xl\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .\32xl\:pb-32 {
    padding-bottom: 8rem;
  }

  .\32xl\:pl-\[120px\] {
    padding-left: 120px;
  }

  .\32xl\:pr-\[120px\] {
    padding-right: 120px;
  }

  .\32xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .\32xl\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .\32xl\:text-\[36px\] {
    font-size: 36px;
  }

  .\32xl\:text-\[44px\] {
    font-size: 44px;
  }

  .\32xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1610px) {
  .\33xl\:mt-36 {
    margin-top: 9rem;
  }

  .\33xl\:mt-40 {
    margin-top: 10rem;
  }

  .\33xl\:pl-\[180px\] {
    padding-left: 180px;
  }

  .\33xl\:pr-\[180px\] {
    padding-right: 180px;
  }

  .\33xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 2500px) {
  .\34xl\:pl-\[300px\] {
    padding-left: 300px;
  }

  .\34xl\:pr-\[300px\] {
    padding-right: 300px;
  }
}