@tailwind base;
@tailwind components;
@tailwind utilities;

/* padding untuk seluruh halaman website */
.padding{
    @apply 3xl:px-[180px] 4xl:px-[300px] 2xl:px-[120px] xl:px-[110px] lg:px-[100px] md:px-[30px] xs:px-[20px];
}

/* mt untuk section 2 dan seterusnya */
.margin-top{
    @apply 2xl:mt-[120px] xl:mt-[110px] lg:mt-[100px] md:mt-[90px] mt-[80px];
}

/* navbar */
.nav-all1{
    @apply font-medium text-custom3 text-opacity-[51%] text-[15px] hover:text-opacity-[100%] hover:transition-all hover:duration-500;
}

.nav-all2{
    @apply font-medium text-custom3 text-opacity-100 text-[15px] hover:text-opacity-[100%] hover:transition-all hover:duration-500;
}

.button1-nav{
    @apply px-4 py-2 rounded-[5px] bg-custom2 border border-custom2 font-medium lg:text-[15px] md:text-[13px] text-sm text-custom1 hover:bg-custom1 hover:text-custom2 hover:transition-all hover:duration-500;
}

.button2-nav{
    @apply px-4 py-2 rounded-[5px] bg-custom1 border border-custom2 font-medium lg:text-[15px] md:text-[13px] text-sm text-custom2 hover:bg-custom2 hover:text-custom1 hover:transition-all hover:duration-500;
}

/* section 2 */
.div-card-section2{
    @apply md:col-span-4 lg:py-[19px] py-4 px-[12px] border border-custom2 border-opacity-35 rounded-[5px] flex lg:flex-row flex-col lg:gap-[26px] md:gap-[20px] gap-4;
}

.div-icon-section2{
    @apply w-[40px] h-[40px] bg-custom2 p-2 flex justify-center items-center;
}

.icon-section2{
    @apply text-custom1 text-[25px];
}

.div-text-card-section2{
    @apply flex flex-col gap-2;
}

.judul-card-section2{
    @apply font-semibold text-custom3 lg:text-base text-sm;
}

.deskripsi-card-section2{
    @apply text-custom3 text-opacity-50 lg:text-sm text-[13px];
}

/* judul dan nama section untuk semuanya */
.div-nama-section{
    @apply flex gap-[9px] items-center;
}

.span-garis-nama-section{
    @apply lg:w-[34px] md:w-[30px] w-[26px] border border-custom3 border-opacity-50;
}

.nama-section{
    @apply lg:text-base text-sm text-custom3 text-opacity-50;
}

.judul-section{
    @apply font-semibold text-custom3 2xl:text-[36px] xl:text-[32px] lg:text-[28px] text-2xl xs:leading-normal;
}

.deskripsi-section3-dan-seterusnya{
    @apply font-medium text-custom3 text-opacity-55 lg:text-base text-sm mt-2 lg:line-clamp-3 md:line-clamp-2 line-clamp-3;
}

/* section 3 */
.div-service-section3{
    @apply flex items-center gap-4;
}

.div-icon-section3{
    @apply bg-custom2 rounded-full w-[45px] h-[45px] flex items-center justify-center p-1;
}

.icon-section3{
    @apply text-custom1 text-[30px];
}

.div-text-service{
    @apply flex flex-col gap-0;
}

.angka-jumlah-service{
    @apply font-mada font-semibold text-custom3 2xl:text-[28px] xl:text-[26px] lg:text-2xl md:text-[22px] text-xl;
}

.text-service{
    @apply font-mada text-custom3 text-sm;
}

/* section 6 mode xs dan seterusnya */
/* style untuk animasi faq */
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.question .ri-arrow-down-s-line{
    transition-duration: 500ms;
}

.answer.open {
    max-height: 300px;
}

.rotate-180{
    transform: rotate(180deg);
}

.div-faq{
    @apply flex flex-col border border-custom4 border-opacity-[12%] p-4 rounded-[3px] gap-0 transition-all duration-500;
}

.div-question{
    @apply flex justify-between gap-8 cursor-pointer relative z-0;
}

.teks-question{
    @apply font-medium xl:text-lg lg:text-base text-sm text-custom3 mr-8;
}

.icon-arrow{
    @apply text-lg transition-all duration-500 text-custom1 text-center;
}

.teks-answer{
    @apply text-custom4 text-opacity-[52%] md:text-[15px] text-sm xs:text-[10px];
}


/* section 7 */
.div-customer{
    @apply flex flex-col gap-4 p-2 md:p-0;
}

.review-customer{
    @apply md:p-4 text-custom2 text-sm line-clamp-3;
}

.img-customer{
    @apply w-12 h-12;
}

.nama-customer{
    @apply font-medium text-custom2 text-sm;
}

.status-customer{
    @apply text-custom2 text-[10px];
}

/* styling untuk scrollbar */
.parent .swiper-scrollbar{
    @apply md:max-w-[50%] max-w-full;
}

.parent .swiper-scrollbar-drag-custom{
    @apply bg-custom2 h-1 absolute cursor-grab;
}

.parent .swiper-scrollbar-drag-custom{
    @apply bg-custom2 h-1 cursor-grab overflow-visible;
}